
<%= render partial: 'listwe', locals: { p: @post} %>
<h2 class="text-center"> Here are the Top Ideas:</h2>
 <div class="encompeser">
  <% @posts.each do |p| %>
    <%= render partial: 'list', locals: { p: p} %>
  <% end %>
</div>